CLAUDE.md

db/schema_cms.txt
db/sugestao_db_academico.md

backend/sugestao_api.md
backend/sugestao_api_categorias_secoes.md
backend/sugestao_api_login.md
backend/sugestao_api_academico.md

sugestao_tipo_conteudo_artigos.md

.venv

# Python
__pycache__/
*.py[cod]
*$py.class

# .env do ./backend
backend/.env
backend/.env.*
!.env.example