CLAUDE.md

db/schema_cms.txt

backend/sugestao_api.md
backend/sugestao_api_categorias_secoes.md
backend/sugestao_api_login.md

.venv

# Python
__pycache__/
*.py[cod]
*$py.class

# .env do ./backend
backend/.env
backend/.env.*
!.env.example
frontend/env
backend/env

# .env do ./frontend
frontend/.env
frontend/.env.*
frontend/.env
frontend/.env
